@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Practica Zapatillas</h1>
    <h1 class="display-5 text-black-50">Carlos Mayoral</h1>
    
    <a asp-controller="Zapatillas" asp-action="Zapatillas" class="btn btn-success">Inicio</a>
</div>
